.topBar_fix {
	position:fixed; 
	top:0; 
	left:0; 
	width:100%;
}

.frontdiv {
	position: relative;
	z-index: 2;
}

.backdiv {
	width: 100%;
	position: relative;
	z-index: 1;
}

#topBar {
	padding: 20px;
	background-color: orange;
}

#header {
	position: relative;
	z-index: 10000;
}

#map {
	height: 650px;
}

#realgrid {
	height: 235px;
	width: 230px;
	margin: 10px;
}

#detaildiv {
	width: 99%;
	height: 45%;
	top: 100px;
	margin: auto;
	border: 1px solid;
	background-color: white;
	z-index: 500;
}