#area {
	margin-top: 6px;
	margin-left: 6px;
}

#condition {
	margin-left: 6px;
}

#backdiv {
	height: 650px;
	width: 99%;
	position: absolute;
	z-index: 1;
}

#header {
	height: 10%;
	width: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

.frontdiv {
	height: 350px;
	width: 230px;
	margin: 20px;
	position: relative;
	z-index: 2;
}

#realgrid {
	height: 100%;
	width: 100%;
}

#chartarea {
	clear: both;
	width: 100%;
	position: absolute;
	z-index: 1;
}